body{
    width: 600px;
    height: 800px;
    margin: auto;
}
form{
    width: 400px;
    background-color: gold;
}
th{
    background-color: darkturquoise;
    color: blue;
    width: 600px;

}
.nu1
